/* $Id$ */

#offline-signup-page,
#offline-signup-user-register-form,
#offline-signup-user-update-form,
#offline-signup-content-drawings,
#offline-signup-content-sync {
  display: none;
}

#offline-signup-page td.ajax-status img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
