/* $Id$ */

#offline-signup-page,
.node-form-wrapper,
#offline-signup-content-drawings,
#offline-signup-content-sync {
  display: none;
}

#offline-signup-page td.ajax-status img,
#offline-signup-page td.ajax-status .throbber {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#offline-signup-page td.ajax-status .throbber {
  width: 15px;
  height: 15px;
  background: transparent url(/misc/throbber.gif) no-repeat 0px -18px;
}

#offline-signup-content-sync tr.ok {
  background-color: #DDFFDD;
}
